version: '3.8'

services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - ENV=production
      - SECRET_KEY=ISplitter_jwt_secret_key_2025_fixed_for_development
    restart: unless-stopped
    networks:
      - ISplitter-network
    depends_on:
      - redis
    volumes:
      - ./config:/app/config:rw

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    networks:
      - ISplitter-network

  nginx:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    networks:
      - ISplitter-network
    depends_on:
      - api
      - redis

networks:
  ISplitter-network:
    driver: bridge

volumes:
  minio_data: